# OS X
.DS_Store

# Files that might appear on external disk #
.Spotlight-V100
.Trashes

# Linux
#.*
*~
*.sw[a-p]
!*.swf

# Log
*.log

#Latex
*.aux
*.lof
*.log
*.lot
*.toc
*.tex~

# Vim
*.swp
*.swo
.*.sw[a-z]
*.un~

# TextMate
*.tmproj
*.tmproject
tmtags

# Node
node_modules
*.node
*.a
*.o
*.dylib

# Cloud9
.settings.xml

#JAVA
*.class
# IntelliJ
.idea

# Package Files #
# *.jar I want JExercise
*.war
*.ear

# Eclipse
*.metadata

# IntelliJ
*.iml
